#magicdiv {
    content: ' ';
    display:block;
    transition-property: color, background-color, border-color, fill, stroke, opacity, transform;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
}

/* #magicdivparent:hover {
    #magicdiv {
        transform: translateX(10%);
        transition-delay: 0s;
    }
} */

#magicdiv:hover {
    transform: translateX(50%);
}

*::-webkit-scrollbar {
    display: none;
  }

*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


#diceTaskOptions{
    transition: all 200ms ease-in-out;
}
#diceTask:hover{
    #diceTaskOptions{
        opacity: 1;
        transform: translateY(100%);
    }
}